/* stili generali della pagina */

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans&family=Open+Sans&family=Outfit&family=Roboto&family=Rubik&display=swap');

*{
   font-family: 'Outfit', sans-serif;
   padding: 0;
   box-sizing: border-box;
   margin: 0;
}

img{
   max-width: 100%;
}

.wrapper{
   width: 70%;
   margin: 0 auto;
}

a{
   color: black;
   text-decoration: none;
   text-transform: uppercase;
}